.github/**
.vscode/**
.vscode-test/**
out/**
node_modules/**
assets/**
!assets/images/logo.png
examples/**
src/**
test/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/.eslintignore
**/*.map
**/*.ts
**/.vscode-test.*
